:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 18px;
  height: 100vh;
  width: 100%;
  font-family: "MS Pゴシック";
}

header {
  position: relative;
  width: 100%;
  height: 100px;
}



.logo {
  padding-top: 20px;
  color: black;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  height: 100px;
}

h1 a {
  width: 275px;
  height: 35px;
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.2s;
  font-family: "MS Pゴシック";
  font-size: 28px;
}

.menu {
  text-align: end;
  margin-top: auto;
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

nav ul {
  margin-bottom: 0px;
  padding-top: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.2s;
  font-family: "MS Pゴシック";
}

nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.FaGithubIcon {
  font-size: 30px;
}

.FaGithubIcon a {
  color: #010000;
  text-decoration: none;
}

.mainBox {
  height: 100%;
  position: relative;
  width: 960px;
  margin: 0 auto;
}


.mainBox h1 {
  text-align: center;
  font-size: 50px;
}

.main-icon {
  height: 420;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 1px;
}

.mainImageBox {
  width: 100%;
  position: relative;
  background-color: black;
  display: inline-block;
}

.mainImage {
  object-fit: cover;
  height: 250px;
  width: 100%;
  opacity: 0.7;
}

.mainTextBox {
  font-family: "MS Pゴシック";
  position: absolute;
  /*重ねたい子要素にabsolute*/
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /*ベンダープレフィックス*/
  -webkit-transform: translate(-50%, -50%);
  /*ベンダープレフィックス*/
  transform: translate(-50%, -50%);
  /*センター寄せの修正*/
  color: #fff;
  font-size: 16px;
  margin: 0 !important;
  /*文字がずれている場合や*/
  padding: 0 !important;
  /*文字が折り返される場合*/
  width: 100%;
  text-shadow: 1px 2px 3px #060000;
}

.mainText h2 {
  font-size: 60px;
  font-weight: bold;
}

.mainTextBox p {
  font-weight: bold;
}

.profileImage {
  object-fit: cover;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
}

img {
  width: 300px;
  height: 300px;
}

.service {
  margin-top: 80px;
  margin-bottom: 60px;
}

.SkillBox {
  margin-bottom: 60px;
}

.AboutPageBox {
  max-width: 960px;
  margin: 0 auto;
}


.AboutTitle {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 70px;
}

.AboutText {
  margin-bottom: 50px;
  font-size: 14px;
}

.ProfileBox {
  font-size: 14px;
  margin-bottom: 100px;
}

.name dt,
.location dt,
.contact dt,
.business dt {
  float: left;
  display: block;
  width: 20%;
}

.name dd,
.location dd,
.contact dd,
.business dd {
  float: right;
  width: 70%;
  font-size: 14px;
}


.name,
.location,
.contact,
.business {
  display: flex;
}

.PortfolioSiteImage,
.ReactMemoAppImage,
.NextJsTechBlogImage {
  margin-bottom: 40px;
  height: 180px;
  width: 300px;
  border: solid 1px #777777;

}

.PortfolioSiteTitle,
.MemoAppTitle,
.TechBlogTitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: #505050;
  font-family: "MS Pゴシック";
}

.PortfolioSiteTitle-p,
.MemoAppTitle-p,
.TechBlogTitle-p {
  margin-bottom: 45px;
  text-align: center;
  line-height: 1.0;
  font-family: "MS Pゴシック";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #a5a5a5;
}

.PortfolioSiteText,
.MemoAppText,
.TechBlogText {
  font-size: 14px;
  margin-bottom: 45px;
  width: 300px;
  text-align: justify;
}

.PortfolioTitle,
.SkillTitle {
  margin-bottom: 65px;
  text-align: center;
  line-height: 1.0;
  font-family: "MS Pゴシック";
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 0.05em;
}

.PortfolioItemBox {
  display: flex;
  justify-content: space-between;
}

.PortfolioItems {
  text-align: -webkit-center;
}

.SkillInner {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  height: auto;
}

.PersonalSkillChartImage {
  width: 480px;
  height: 350px;
}

.PersonalSkillTitle,
.Skill-bar-Title {
  margin-bottom: 5%;
  background-color: lightgray;
  width: 200px;
  padding: 3px;
}


.SkillText {
  text-align: left;
  margin-bottom: 40px;
  font-size: 16px;
}

.skill-bar-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-bar {
  width: 45%;
  padding: 4px;
  border-radius: 50px;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  height: 50px;

  p {
    font-size: 14px;
    color: #363636;
    width: 40%;
    text-align: center;
    margin: 0;
  }

  .dots {
    width: 50%;
    display: flex;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 4%;
    display: inline-block;
  }

  .green {
    background-color: #003D4D;
    display: inline-block;
  }
}

.Footer {
  position: relative;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid #cccccc;
}

.FooterBox {
  padding-top: 20px;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

.FooterName {
  font-size: 16px;
  padding-top: auto;
}



/* レスポンシブ */
@media screen and (max-width:767px) {


  .App {
    font-size: 18px;
    height: 100%;
    width: 100%;
    font-family: "MS Pゴシック";
  }

  header {
    position: relative;
    max-width: 100%;
    height: 60px;
    margin: 0 auto;
  }


  .logo {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    height: 60px;
  }

  h1 a {
    width: 50px;
    height: 35px;
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.2s;
    font-family: "MS Pゴシック";
    font-size: 18px;
  }

  .menu {
    text-align: end;
    margin-top: auto;
  }

  nav ul {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 50px;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
  }

  nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.2s;
    font-family: "MS Pゴシック";
  }

  nav ul li a:hover {
    color: blue;
    text-decoration: underline;
  }

  .FaGithubIcon {
    font-size: 22px;
  }

  .FaGithubIcon a {
    color: #010000;
    text-decoration: none;
  }

  .mainBox {
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }


  .mainBox h1 {
    text-align: center;
    font-size: 50px;
  }

  .main-icon {
    height: 420;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 1px;
  }

  .mainImageBox {
    width: 100%;
    position: relative;
    background-color: black;
    display: inline-block;
  }

  .mainImage {
    object-fit: cover;
    height: 125px;
    width: 100%;
    opacity: 0.7;
  }

  .mainTextBox {
    font-family: "MS Pゴシック";
    position: absolute;
    /*重ねたい子要素にabsolute*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    /*ベンダープレフィックス*/
    -webkit-transform: translate(-50%, -50%);
    /*ベンダープレフィックス*/
    transform: translate(-50%, -50%);
    /*センター寄せの修正*/
    color: #fff;
    margin: 0 !important;
    /*文字がずれている場合や*/
    padding: 0 !important;
    /*文字が折り返される場合*/
    width: 100%;
    text-shadow: 1px 2px 3px #060000;
  }

  .mainText h2 {
    font-size: 22px;
    font-weight: bold;
  }

  .mainTextBox p {
    font-weight: bold;
    font-size: 12px;
  }

  .profileImage {
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  img {
    width: 300px;
    height: 300px;
  }

  .service {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SkillBox {
    margin-bottom: 60px;
  }

  .AboutPageBox {
    width: 280px;
    margin: auto;
  }


  .AboutTitle {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 25px;
  }

  .AboutText {
    margin-bottom: 25px;
    font-size: 10px;
  }

  .ProfileBox {
    font-size: 10px;
    margin-bottom: 50px;
  }

  .name dt,
  .location dt,
  .contact dt,
  .business dt {
    float: left;
    display: block;
    width: 35%;
  }

  .name dd,
  .location dd,
  .contact dd,
  .business dd {
    float: right;
    width: 70%;
    font-size: 10px;
  }


  .name,
  .location,
  .contact,
  .business {
    display: flex;
    margin-bottom: 3px;
  }


  .ReactMemoAppImage,
  .NextJsTechBlogImage,
  .PortfolioSiteImage {
    margin-bottom: 20px;
    height: 160px;
    width: 280px;
  }

  .MemoAppTitle,
  .TechBlogTitle,
  .PortfolioSiteTitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: #505050;
    font-family: "MS Pゴシック";
  }

  .MemoAppTitle-p,
  .TechBlogTitle-p,
  .PortfolioSiteTitle-p {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.0;
    font-family: "MS Pゴシック";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #a5a5a5;
  }

  .MemoAppText,
  .TechBlogText,
  .PortfolioSiteText {
    font-size: 10px;
    margin-bottom: 35px;
    width: 280px;
    text-align: justify;
  }

  .PortfolioSiteText {
    margin-bottom: 40px;
  }

  .PortfolioTitle,
  .SkillTitle {
    margin-bottom: 35px;
    text-align: center;
    line-height: 1.0;
    font-family: "MS Pゴシック";
    font-weight: 100;
    font-size: 23px;
    letter-spacing: 0.05em;
  }

  .PortfolioItemBox {
    display: block;
    justify-content: space-around;
  }

  .PortfolioItems {
    text-align: -webkit-center;
  }

  .SkillInner {
    text-align: center;
    margin-bottom: 30px;
    display: block;
    height: auto;
    width: 280px;
    margin: auto;
  }

  .PersonalSkillChartImageBox {
    margin-bottom: 30px;
  }

  .PersonalSkillTitle,
  .Skill-bar-Title {
    margin-bottom: 2%;
    background-color: lightgray;
    width: 100px;
    padding: 3px;
    font-size: 10px;
  }

  .PersonalSkillChartImage {
    width: 280px;
    height: auto;
  }


  .SkillText {
    font-size: 10px;
    width: 280px;
    margin: auto;
    margin-bottom: 30px;
  }

  .skill-bar-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    height: auto;
    margin: auto;
  }

  .skill-bar {
    width: 45%;
    padding: 2px;
    border-radius: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
    height: 40px;

    p {
      font-size: 10px;
      color: #363636;
      width: 40%;
      text-align: center;
      margin: 0;
    }

    .dots {
      width: 40%;
      display: flex;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin-left: 4%;
        display: inline-block;
      }

      .green {
        background-color: #003D4D;
        display: inline-block;
      }
    }
  }

  .Footer {
    position: relative;
    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    border-top: 1px solid #cccccc;
  }

  .FooterBox {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    display: flex;
    justify-content: center;
  }

  .FooterName {
    font-size: small;
    padding-top: auto;
  }
}
